@media (max-width:900px) {
    .blogs-news-container {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }

    .blogs-post-container .post-container {
        max-width: 45%;
    }
}

@media (max-width:700px) {
    .profile-main-container .profile-container {
        display: block;
    }

}

@media (max-width:600px) {
    .blogs-post-container .post-container {
        max-width: 95%;
    }

}

@media (max-width:400px) {
    .profile-main-container img {
        width: 100%;
    }

}